/* TAG SELECTORS */

body {
    margin: 0;
}
a {
    font-family: 'Source Sans Pro', sans-serif;
    text-decoration: none;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
}

hr {
    width: 100%;
}

/* CLASS SELECTORS */

.h-font-1 {
    font-size: 32pt;
    padding: 0;
    font-family: 'Playfair Display', serif;
    margin: 0;
}

.h-font-2{
    font-family: 'Playfair Display', serif;
    font-size: 20pt;
    margin-bottom: 0;
}

.p-font-1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17pt;
    line-height: 1.5;
}

.p-font-2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17pt;
    line-height: 1.5;
}

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 850px;
}


.project-info {
    width: 75%;
}

.project-tech {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0;
}

.project-tech-content {
    display: flex;
    justify-content: space-around;
}

.project-tech-style {
    border: solid;
    border-width: 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.a-color-1 {
    color:rgb(246, 220, 187);
}

.a-color-2 {
    color: rgb(18, 40, 100);
    font-size: 17pt;
}

.a-color-3 {
    color: rgb(18, 40, 100);
}

.a-color-4 {
    color:rgb(246, 220, 187);
    font-size: 17pt;
}

.a-color-5 {
    color: black;
    font-size: 17pt;
}

/* ID SELECTORS */

#app {
    display: flex;
    flex-direction: column;
}

#header {
    height: 10vh;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#header-content {
    width: 850px;

    display: flex;
    justify-content: space-between
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
}

#intro-content {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 850px;
    display: flex;
    justify-content: space-between;
}

#intro-content-left {
    width: 550px;
}

#intro-about {
}

#about-me {
    background-color: rgb(48, 53, 67);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#about-me-content {
    margin-top: 30px;
    width: 850px;
} 

#about-me-skills {
    width: 850px;
    margin-bottom: 30px;
}

#about-me-skills-content {
    display: flex;
    justify-content: space-between;
}

#project-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-list-content {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 850px;
    display: flex;
    flex-direction: column;
}

#project-list-projects {
    display: flex;
    justify-content: space-between;
}

#project-list-left {
    display: flex;
    flex-direction: column;
    width: 350px;
}

#project-list-right {
    display: flex;
    flex-direction: column;
}

#project-1 {
    background-color: rgb(200, 200, 200);
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-2 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-3 {
    background-color: rgb(48, 53, 67);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#project-4 {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 20vh;
}

#social {
    margin-top: 50px;
}

/* Images */

#intro-image {
    height: 280px;
}

#image-calc {
    width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#image-weather {
    margin-top: 30px;
    margin-bottom: 30px;
}

#image-countries {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
}

#image-github-logo {
    margin-right: 20px;
}


/* Tablet Support */
@media screen and (max-width: 900px){
    #header-content {
        width: 95%;
    }
    #intro-content {
        width: 95%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    #intro-image {
        width: 220px;
        height: 220px;
    }
    #intro-content-left {
        width: 100%;
    }
    #about-me-content {
        width: 95%;
    } 
    
    #about-me-skills {
        width: 95%;
    }
    #project-list-content {
        width: 95%;
    }
    .project {
        width: 95%;
    }
    .project-info {
        width: 100%;
    }
}

/* Mobile Support */
@media screen and (max-width: 700px){
    #header-content {
        width: 95%;
    }
    #intro {
        height: 100%;
    }
    #intro-content {
        width: 95%;
    }
    #intro-image {
        width: 190px;
        height: 190px;
    }
    #image-calc {
        width: 60%;
    }
    #image-weather {
        width: 60%;
    }
    .h-font-1 {
        font-size: 24pt;
    }
    .h-font-2{
        font-size: 16pt;
    }
    .p-font-1 {
        font-size: 13pt;
    }
    .p-font-2 {
        font-size: 10pt;
    }
    .a-color-5 {
        font-size: 12pt;
    }
}